.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: flex-end;
  background-color: lightgray;
  height: 10vh;
}

.navOption {
  display: flex;
  align-items: center;
}

.navbar__option {
  flex: 0.8;
  margin: 5px;
  padding: 5px;
}

.navbar__icon {
  flex: 0.2;
  height: 50%;
}
